@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  font-family: 'Ubuntu', sans-serif!important;
  color: #F9F5F6!important;
}
:root{
  --bg-color: linear-gradient(217deg, #ee6fca, rgba(255, 0, 0, 0) 70.71%), 
							linear-gradient(127deg, #67bad4, rgba(0, 255, 0, 0) 70.71%), 
							linear-gradient(336deg, #24b6e7, rgba(0, 0, 255, 0) 70.71%);
  --altura: 5rem;
}
body{
  background-color: #dbcce9;
}
.navbar{
  background: var(--bg-color);
  min-height: 5rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

.nav-link{
  margin: 0;
  font-size: 1.2rem!important;
  transition: all 1s;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 0.4rem 0.8rem!important;
}

.nav-link:hover{
  background: #ffc3fc48;
}
.navbar-nav{
  align-items: center;
}