* {
  font-family: "Trocchi", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
header {
  color: #000000;
  text-align: center;
  padding: 16px;
  margin: 25px;
}
.container-global {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box {
  margin: 10px;
  padding: 40px 15px 10px 10px;
  height: auto;
  width: 30%;
  border: 1px solid #000000;
  background-color: grey;
  position: relative;
  float: left;
  flex-wrap: wrap;
}
.title-box {
  border: 1px solid black;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  width: 30%;
  text-align: center;
  align-content: center;
}
.chicken {
  background-color: rgb(231, 167, 167);
  color: black;
  font-weight: bold;
}
.beef {
  background-color: rgb(146, 31, 48);
  color: white;
  font-weight: bold;
}
.sushi {
  background-color: rgb(255, 255, 174);
  color: black;
  font-weight: bold;
}
@media (min-width: 992px) {
  .box {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-global {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
    align-items: center;
  }
  .row-md {
    width: 40%;
    margin: 10px 1%;
    /* height: 215px; */
    /* flex-flow: row wrap; */
  }
  .col-md {
    width: 82%;
    margin: 10px 1%;
    /* flex-flow: row wrap; */
  }
}
@media (max-width: 767px) {
  .container-global {
    flex-flow: column;
    align-items: center;
  }
  .col-sm {
    width: 80%;
    margin: 30px auto;
  }
}
